/*
Theme Name: Chopshop
Theme URI: http://russomario.com/themes/chopshop
Author: Mario Russo
Author URI: http://russomario.com/
Description: Second Basic blog Theme developed in ISSD program with instructor Steve George.
Version: 0.1
*/

body {

	padding: 0;
	margin: 0;
	background: #efefef;
}

/* BLOCK LAYOUT
------------------------------------------------------------------------ */


.container {
	width: 100%;
	max-width: 960px;
	margin: 50px auto;
	background: #fff;
	padding: 0;
}

header.main {
	width: 100%;
	max-width: 960px;
	clear: both;
	color: #fff;
	position: relative;
}

#content {
	width: 100%;
}

#primary {
	width: 100%;
	float: right;
	padding: 3%;
	border: none;
}

#secondary {
	width: 100%;
	float: left;
	padding: 6% 3%;
	border-top: 1px solid #cfcfcf;
	background: #efefef;
}

footer.main {
	width: 100%;
	clear: both;
	min-height: 100px;
	line-height: 30px;
	text-align: center;
	background: #4F98DC;
	color: #FFF;
	margin-top: 50px;
	padding-bottom: 30px;
}

/* TYPOGRAPHY
------------------------------------------------------------------------ */
h1, h2, h3{
   clear: both; 
}
.site_title  {
	position: absolute;
	padding: 0;
	margin: 0;
	z-index: 100;
	top: 60px;
	left: 30px;
	line-height: 100px;
	color: #fff;
	text-shadow: 3px 3px 3px #000;
	font-size: 30px;
	font-weight: 700;
}

h1.archive_title {
   
	color: #EDA809;
	font-size: 300%;
	border-bottom: 1px solid #666;
	padding-bottom: 10px;
	margin-bottom: 20px;

}

footer p {
	margin: 0;
}


/* NAVIGATION
------------------------------------------------------------------------ */
div.menu ul,
ul.menu {
	padding-left: 0;
}
div.menu ul li,
ul.menu li {
	list-style-type: none;
}

footer.main ul li{

		display: inline-block;
		list-style-type: none;
		margin-right: 20px;
		margin-top: 30px;
}

footer a {
	color: #fff;
	line-height: 20px;
}

/* FEATURED IMAGES
--------------------------------------------------------------------------*/
.list_featured_img{
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px 5px;
}

.featured_img{
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px;
}

.list_featured_img img,
.featured_img img{
  width: 100%;
  height: 100%;
}


/* MEDIA QUERIES
------------------------------------------------------------------------ */

@media screen and (min-width: 768px) {

	#primary {
		width: 70%;
		border-left: 1px solid #cfcfcf;
	}

	#secondary {
		width: 29%;
		background: #fff;
	}

}